# Daily Gas Prices in US

### Libraries

In [1]:
import requests
import pandas as pd

## Data Pull & Cleaning

### API Key

In [2]:
#API_Keys
gas_key = "4KLQzviUEChEdBIa8D57vG:6XtcVLxYfEOpANfjsyKUMq"
g_key = ""
eia_key = "162281490b68ef33f84de64aa9d6945b"

### Daily Gas Prices - Pull & Clean UP

In [3]:
#import Gas Daily Prices
url = "https://api.collectapi.com/gasPrice/allUsaPrice"

headers = {
    'content-type': "application/json",
    'authorization': f"apikey {gas_key}"
    }

response = requests.request("GET", url, headers=headers).json()

#Defining Variables
states = []
gasoline=[]
midGrade=[]
premium=[]
diesel=[]

#Creating for cycle to extract data

for x in response["result"]:
    states.append(x["name"])
    gasoline.append(x["gasoline"])
    midGrade.append(x["midGrade"])
    premium.append(x["premium"])
    diesel.append(x["diesel"])
    
#create dataframe
daily_gasoline_df = pd.DataFrame({"State":states,"Gas":gasoline,"MidGrade":midGrade,"Premium":premium,"Diesel":diesel})

In [4]:
#Change to FLOAT
daily_gasoline_df['Gas'] = daily_gasoline_df['Gas'].astype(float)
daily_gasoline_df['MidGrade'] = daily_gasoline_df['MidGrade'].astype(float)
daily_gasoline_df['Premium'] = daily_gasoline_df['Premium'].astype(float)
daily_gasoline_df['Diesel'] = daily_gasoline_df['Diesel'].astype(float)
daily_gasoline_df.head()

        State    Gas  MidGrade  Premium  Diesel
0      Alaska  2.334     2.454    2.607   2.349
1     Alabama  1.726     2.039    2.382   2.262
2    Arkansas  1.713     2.004    2.294   2.099
3     Arizona  2.212     2.488    2.744   2.495
4  California  2.951     3.123    3.238   3.267

### Google GeoCoding Info

In [5]:
#import State Information
state_lat = []
state_lng = []
state_code = []


for state in states:
    # Build the endpoint URL
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(state, g_key)
    geo_data = requests.get(target_url).json()
    state_lat.append(geo_data['results'][0]["geometry"]["location"]["lat"])
    state_lng.append(geo_data['results'][0]["geometry"]["location"]["lng"])
    code = geo_data['results'][0]["address_components"][0]["short_name"]
    
    #correct to the State when compared with the City Name
    if len(code)>2:
        state_code.append(geo_data['results'][0]["address_components"][2]["short_name"])
    else:
        state_code.append(code)

#Change US to NY

state_code[34]= "NY"

#create dataframe
state_df = pd.DataFrame({"State":states,"State Code":state_code,
                         "State Latitude": state_lat, 
                         "State Longitude": state_lng})
state_df.head()

        State State Code  State Latitude  State Longitude
0      Alaska         AK       64.200841      -149.493673
1     Alabama         AL       32.318231       -86.902298
2    Arkansas         AR       35.201050       -91.831833
3     Arizona         AZ       34.048928      -111.093731
4  California         CA       36.778261      -119.417932

### Gas Price Time Series

In [7]:
#import Gas Time Series
url = "http://api.eia.gov/series/?api_key="+eia_key+"&series_id=PET.EMM_EPM0_PTE_S"
timeSeries = []

statetimeline = dict()

for code in state_code:
    try:
        query_url = url+code+"_DPG.W"
        response = requests.get(query_url).json()

        Statetimeline.update({code:response["series"][0]["data"]})

    except:
        print(f"Failed: {code}")

Failed: AK
Failed: AL
Failed: AR
Failed: AZ
Failed: CA
Failed: CO
Failed: CT
Failed: DC
Failed: DE
Failed: FL
Failed: GA
Failed: HI
Failed: IA
Failed: ID
Failed: IL
Failed: IN
Failed: KS
Failed: KY
Failed: LA
Failed: MA
Failed: MD
Failed: ME
Failed: MI
Failed: MN
Failed: MO
Failed: MS
Failed: MT
Failed: NC
Failed: ND
Failed: NE
Failed: NH
Failed: NJ
Failed: NM
Failed: NV
Failed: NY
Failed: OH
Failed: OK
Failed: OR
Failed: PA
Failed: RI
Failed: SC
Failed: SD
Failed: TN
Failed: TX
Failed: UT
Failed: VA
Failed: VT
Failed: WA
Failed: WI
Failed: WV
Failed: WY

### GDP per State

In [9]:
#import Info
gdp_df = pd.read_csv("GDP_sheet1.csv")

#Drop Rank
gdp_df = gdp_df.drop(columns="rank")
gdp_df = gdp_df.rename(columns={"US States": "State",
                               "GDP per capita (current dollars)":"GDP per capita"})
gdp_df.head()

                  State GDP per capita
0  District of Columbia        200,277
1              New York         85,746
2         Massachusetts         82,480
3              Delaware         77,253
4           Connecticut         76,342

### US Refinaries

In [38]:
#import Info
refineries_df = pd.read_csv("Refineries.csv")
refineries_df = refineries_df.rename(columns={"Unnamed: 1":"State"})
refineries_df = refineries_df.rename(columns={"List of oil refineries in the US":"Refinery"})
refineries_df["Refinery"] = refineries_df["Refinery"].str.replace(r"\(.*\)","")
refineries_df = refineries_df.drop_duplicates()
refineries_df = refineries_df.drop_duplicates(subset="Refinery",keep=False)
refineries_df = refineries_df.merge(state_df,left_on="State",right_on="State")

In [39]:
# geocoordinates
target_coordinates = refineries_df[["State Latitude", "State Longitude"]]
target_coordinates = target_coordinates.values.tolist()

target_type = "refinery"

refinery_lat=[]
refinery_lng = []

# base url
base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

for i in range(0,len(target_coordinates)):
    coord = f"{target_coordinates[i][0]},{target_coordinates[i][1]}"
    target_search = refineries_df.iloc[i][0]
    # set up a parameters dictionary
    params = {
        "query": target_search,
        "key": g_key}
    # run a request using our params dictionary
    try:
        response = requests.get(base_url, params=params).json()
        refinery_lat.append(response["results"][0]["geometry"]["location"]["lat"])
        refinery_lng.append(response["results"][0]["geometry"]["location"]["lng"])
    except:
        print(f"{target_search} not found")

St. Rose Refinery  not found
Rogerslacy Refinery  not found
Greenville Refinery  not found
Bloomfield Refinery  not found
Lima Refinery  not found
Wamsutta Oil Refinery  not found
Independent Refinery  not found
Nixon Refinery  not found
Douglas Refinery  not found

### Merging Information

In [ ]:
daily_gasoline_df = daily_gasoline_df.merge(state_df,left_on="State",right_on="State")
daily_gasoline_df = daily_gasoline_df.merge(gdp_df,on="State",how="left")
daily_gasoline_df

## Data Analysis

### GeoLocation Gas Price Variation

In [ ]:
daily_gasoline_df.plot.scatter(x="State Latitude",y="Gas", c="State Longitude", colormap = 'viridis')

In [ ]:
daily_gasoline_df.plot.scatter(x="State Longitude",y="Gas", c="State Latitude", colormap = 'viridis')