# Daily Gas Prices in US

### Libraries

In [1]:
import requests
import pandas as pd
import numpy as np
import math

## Data Pull & Cleaning

### API Key

In [2]:
#API_Keys
gas_key = "4KLQzviUEChEdBIa8D57vG:6XtcVLxYfEOpANfjsyKUMq"
g_key = "AIzaSyDXrNZhXtDdT62Fsc6JSknFebpEmyKVx_E"
eia_key = "162281490b68ef33f84de64aa9d6945b"

### Daily Gas Prices - Pull & Clean UP

In [3]:
#import Gas Daily Prices
url = "https://api.collectapi.com/gasPrice/allUsaPrice"

headers = {
    'content-type': "application/json",
    'authorization': f"apikey {gas_key}"
    }

response = requests.request("GET", url, headers=headers).json()

#Defining Variables
states = []
gasoline=[]
midGrade=[]
premium=[]
diesel=[]

#Creating for cycle to extract data

for x in response["result"]:
    states.append(x["name"])
    gasoline.append(x["gasoline"])
    midGrade.append(x["midGrade"])
    premium.append(x["premium"])
    diesel.append(x["diesel"])
    
#create dataframe
daily_gasoline_df = pd.DataFrame({"State":states,"Gas":gasoline,"MidGrade":midGrade,"Premium":premium,"Diesel":diesel})

In [4]:
#Change to FLOAT
daily_gasoline_df['Gas'] = daily_gasoline_df['Gas'].astype(float)
daily_gasoline_df['MidGrade'] = daily_gasoline_df['MidGrade'].astype(float)
daily_gasoline_df['Premium'] = daily_gasoline_df['Premium'].astype(float)
daily_gasoline_df['Diesel'] = daily_gasoline_df['Diesel'].astype(float)
daily_gasoline_df.head()

        State    Gas  MidGrade  Premium  Diesel
0      Alaska  2.381     2.474    2.643   2.366
1     Alabama  1.763     2.079    2.409   2.272
2    Arkansas  1.765     2.027    2.317   2.116
3     Arizona  2.232     2.509    2.761   2.500
4  California  2.968     3.143    3.255   3.280

### Google GeoCoding State

In [5]:
#import State Information
state_lat = []
state_lng = []
state_code = []


for state in states:
    # Build the endpoint URL
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
    'address={0}&key={1}').format(state, g_key)
    geo_data = requests.get(target_url).json()
    state_lat.append(geo_data['results'][0]["geometry"]["location"]["lat"])
    state_lng.append(geo_data['results'][0]["geometry"]["location"]["lng"])
    code = geo_data['results'][0]["address_components"][0]["short_name"]
    
    #correct to the State when compared with the City Name
    if len(code)>2:
        state_code.append(geo_data['results'][0]["address_components"][2]["short_name"])
    else:
        state_code.append(code)

#Change US to NY

state_code[34]= "NY"

#create dataframe
state_df = pd.DataFrame({"State":states,"State Code":state_code,
                         "State Latitude": state_lat, 
                         "State Longitude": state_lng})
state_df.head()

        State State Code  State Latitude  State Longitude
0      Alaska         AK       64.200841      -149.493673
1     Alabama         AL       32.318231       -86.902298
2    Arkansas         AR       35.201050       -91.831833
3     Arizona         AZ       34.048928      -111.093731
4  California         CA       36.778261      -119.417932

### Gas Price Time Series

In [6]:
#import Gas Time Series
url = "http://api.eia.gov/series/?api_key="+eia_key+"&series_id=PET.EMM_EPM0_PTE_S"
timeSeries = []

statetimeline = dict()

for code in state_code:
    try:
        query_url = url+code+"_DPG.W"
        response = requests.get(query_url).json()

        Statetimeline.update({code:response["series"][0]["data"]})

    except:
        print(f"Failed: {code}")

Failed: AK
Failed: AL
Failed: AR
Failed: AZ
Failed: CA
Failed: CO
Failed: CT
Failed: DC
Failed: DE
Failed: FL
Failed: GA
Failed: HI
Failed: IA
Failed: ID
Failed: IL
Failed: IN
Failed: KS
Failed: KY
Failed: LA
Failed: MA
Failed: MD
Failed: ME
Failed: MI
Failed: MN
Failed: MO
Failed: MS
Failed: MT
Failed: NC
Failed: ND
Failed: NE
Failed: NH
Failed: NJ
Failed: NM
Failed: NV
Failed: NY
Failed: OH
Failed: OK
Failed: OR
Failed: PA
Failed: RI
Failed: SC
Failed: SD
Failed: TN
Failed: TX
Failed: UT
Failed: VA
Failed: VT
Failed: WA
Failed: WI
Failed: WV
Failed: WY

### GDP per State

In [7]:
#import Info
gdp_df = pd.read_csv("GDP_sheet1.csv")

#Drop Rank
gdp_df = gdp_df.drop(columns="rank")
gdp_df = gdp_df.rename(columns={"US States": "State",
                               "GDP per capita (current dollars)":"GDP per capita"})
gdp_df.head()

                  State GDP per capita
0  District of Columbia        200,277
1              New York         85,746
2         Massachusetts         82,480
3              Delaware         77,253
4           Connecticut         76,342

### US Refinaries

In [26]:
#import Info
refineries_df = pd.read_csv("Refineries.csv")
refineries_df = refineries_df.rename(columns={"Unnamed: 1":"State"})
refineries_df = refineries_df.rename(columns={"List of oil refineries in the US":"Refinery"})
refineries_df["Refinery"] = refineries_df["Refinery"].str.replace(r"\(.*\)","")
refineries_df = refineries_df.drop_duplicates()
refineries_df = refineries_df.drop_duplicates(subset="Refinery",keep=False)
refineries_perState = refineries_df.groupby("State").count()
refineries_df = refineries_df.merge(state_df,left_on="State",right_on="State")
refineries_grouped = refineries_df.groupby("State Code").count()
refineries_perState = refineries_grouped["Refinery"].count()
refineries_perState.head()

            Refinery  State  State Latitude  State Longitude
State Code
AK                 4      4               4                4
AL                 3      3               3                3
AR                 1      1               1                1
CA                16     16              16               16
CO                 1      1               1                1
DE                 1      1               1                1
GA                 1      1               1                1
HI                 1      1               1                1
IL                 4      4               4                4
IN                 2      2               2                2
KS                 2      2               2                2
KY                 2      2               2                2
LA                16     16              16               16
MI                 1      1               1                1
MN                 2      2               2                2
MS                 4      4               4                4
MT                 3      3               3                3
ND                 2      2               2                2
NJ                 6      6               6                6
NM                 3      3               3                3
NV                 1      1               1                1
OH                 4      4               4                4
OK                 4      4               4                4
PA                 6      6               6                6
TN                 1      1               1                1
TX                21     21              21               21
UT                 3      3               3                3
WA                 5      5               5                5
WI                 1      1               1                1
WV                 1      1               1                1
WY                 6      6               6                6

In [12]:
# geocoordinates
target_type = "refinery"

refinery_name = []
refinery_lat=[]
refinery_lng = []

# base url
base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

for i in range(0,len(refineries_df["State"])):
    
    target_search = refineries_df.iloc[i][0]
    # set up a parameters dictionary
    params = {
        "query": target_search,
        "key": g_key}
    refinery_name.append(target_search)
    # run a request using our params dictionary
    try:
        response = requests.get(base_url, params=params).json()
        refinery_lat.append(response["results"][0]["geometry"]["location"]["lat"])
        refinery_lng.append(response["results"][0]["geometry"]["location"]["lng"])
    except:
        refinery_lat.append("")
        refinery_lng.append("")

In [13]:
refinery_place_df = pd.DataFrame({"Refinery":refinery_name,
                                 "Refinery Lat":refinery_lat,
                                 "Refinery Lng": refinery_lng})

In [14]:
refinery_place_df = refinery_place_df.replace("",np.nan)
refinery_place_df = refinery_place_df.dropna()
refinery_place_df.head()

               Refinery  Refinery Lat  Refinery Lng
0      Atmore Refinery      31.181033    -87.439461
1    Saraland Refinery      30.807599    -88.064032
2  Tuscaloosa Refinery      33.197127    -87.604946
3       Kenai Refinery      60.686568   -151.369513
4  North Pole Refinery      64.733348   -147.343500

### Calculating distance between Refinaries and States

In [15]:
total = dict()
ref_name = refinery_place_df["Refinery"].to_list()
ref_lat = refinery_place_df["Refinery Lat"].to_numpy()
ref_lng = refinery_place_df["Refinery Lng"].to_numpy()
stt_lat = state_df["State Latitude"].to_numpy()
stt_lng = state_df["State Longitude"].to_numpy()
stt_code = state_df["State Code"].to_list()

for j in range(0,len(refinery_place_df["Refinery"])):
    distances=[]
    point2lat = ref_lat[j]
    point2lng = ref_lng[j]
    for i in range(0,len(state_df["State Code"])):
        point1lat = stt_lat[i]
        point1lng = stt_lng[i]
        r= 6371000 #earth Radius
        phi1 = point1lat*(math.pi/180)
        phi2 = point2lat*(math.pi/180)
        deltaphi=(point2lat - point1lat)*(math.pi/180)
        deltaalpha = (point2lng - point1lng)*(math.pi/180)
        a = math.sin(deltaphi/2)*math.sin(deltaphi/2) + math.cos(phi1)*math.cos(phi2)*math.sin(deltaalpha)*math.sin(deltaalpha)
        c = 2* math.atan2(math.sqrt(a),math.sqrt(1-a))
        d = r*c
        distances.append(d)
    total.update({ref_name[j]:distances})

total.update({"State Code":stt_code})
distance_df=pd.DataFrame.from_dict(total)
distance_df.columns

Index(['Atmore Refinery ', 'Saraland Refinery ', 'Tuscaloosa Refinery ',
       'Kenai Refinery ', 'North Pole Refinery ', 'Prudhoe Bay Refinery ',
       'Valdez Refinery ', 'Smackover Refinery ', 'Bakersfield Refinery ',
       'Benicia Refinery ',
       ...
       'Ferndale Refinery ', 'Tacoma Refinery ', 'Newell Refinery ',
       'Superior Refinery ', 'Cheyenne Refinery ', 'Evanston Refinery ',
       'Newcastle Refinery ', 'Sinclair Wyoming Refinery ',
       'Sinclair Casper Refinery ', 'State Code'],
      dtype='object', length=122)

In [16]:
distance_df.set_index(["State Code"], inplace = True, 
                    append = True, drop = True)
distance_df.head()

,,Atmore Refinery,Saraland Refinery,Tuscaloosa Refinery,Kenai Refinery,North Pole Refinery,Prudhoe Bay Refinery,Valdez Refinery,Smackover Refinery,Bakersfield Refinery,Benicia Refinery,...,Cherry Point Refinery,Ferndale Refinery,Tacoma Refinery,Newell Refinery,Superior Refinery,Cheyenne Refinery,Evanston Refinery,Newcastle Refinery,Sinclair Wyoming Refinery,Sinclair Casper Refinery
,State Code,,,,,,,,,,,,,,,,,,,,,
0,AK,8.349362e+06,8.343113e+06,8.129890e+06,4.356547e+05,2.143971e+05,6.815597e+05,4.793793e+05,7.730457e+06,5.120246e+06,4.573604e+06,...,3.553349e+06,3.561757e+06,3.723685e+06,8.074278e+06,6.451242e+06,5.942992e+06,7.220355e+06,5.741625e+06,5.669740e+06,5.650218e+06
1,AL,1.621978e+05,2.768906e+05,1.637642e+05,8.684645e+06,8.077501e+06,7.766916e+06,8.253966e+06,1.091530e+06,5.839700e+06,6.282592e+06,...,6.083547e+06,6.079474e+06,6.069492e+06,2.438442e+06,1.823767e+06,3.309478e+06,1.085356e+06,3.260408e+06,3.700255e+06,3.568125e+06
2,AR,9.311395e+05,8.553921e+05,8.084738e+05,8.011348e+06,7.412331e+06,7.172086e+06,7.544580e+06,2.607606e+05,4.874098e+06,5.321230e+06,...,5.171447e+06,5.166909e+06,5.145954e+06,3.126841e+06,1.278111e+06,2.349784e+06,1.037165e+06,2.319811e+06,2.741949e+06,2.616055e+06
3,AZ,4.403158e+06,4.301771e+06,4.311624e+06,6.260617e+06,5.806169e+06,5.932505e+06,5.705529e+06,3.382681e+06,1.459899e+06,2.031270e+06,...,2.527799e+06,2.519811e+06,2.391776e+06,6.368665e+06,3.474175e+06,1.359096e+06,4.134308e+06,1.609567e+06,1.107152e+06,1.291443e+06
4,CA,5.821029e+06,5.730100e+06,5.701791e+06,5.115889e+06,4.762700e+06,5.039267e+06,4.570002e+06,4.812218e+06,1.675813e+05,5.025810e+05,...,1.449713e+06,1.441607e+06,1.263778e+06,7.484618e+06,4.574127e+06,2.562949e+06,5.352567e+06,2.678195e+06,2.182419e+06,2.338642e+06

In [17]:
mean_distance = distance_df.mean(axis=1)/1000
min_distance = distance_df.min(axis=1)/1000
state_refinery_distance = pd.DataFrame({"Mean Distance (km)":mean_distance,
                                        "Min Distance (km)":min_distance})

state_refinery_distance =state_refinery_distance.reset_index()
state_refinery_distance = state_refinery_distance.drop(columns = "level_0")
state_refinery_distance.head()

  State Code  Mean Distance (km)  Min Distance (km)
0         AK         6726.931198         214.397078
1         AL         2849.060095         162.197776
2         AR         2463.775091         260.760607
3         AZ         3447.541736         512.568073
4         CA         4228.641646         167.581304

### Auto per State Information

In [18]:
autos_df = pd.read_csv("autosbystate.csv")
autos_df = autos_df.rename(columns={"STATE": "State"})

In [19]:
#Calculate Total # of Motor vehicles

autos_df['TOTAL MOTOR VEHICLES'] = autos_df['TOTAL AUTOMOBILES'] + autos_df['TOTAL BUSES'] + autos_df['TOTAL TRUCKS']+ autos_df['TOTAL MOTORCYCLES']

### Merging Information

In [23]:
daily_gasoline_df = daily_gasoline_df.merge(state_df,left_on="State",right_on="State")
daily_gasoline_df = daily_gasoline_df.merge(gdp_df,on="State",how="left")
daily_gasoline_df = daily_gasoline_df.merge(state_refinery_distance,on="State Code",how="left")
daily_gasoline_df = daily_gasoline_df.merge(refineries_perState,on="State Code",how="left")
daily_gasoline_df = daily_gasoline_df.rename(columns={"Refinery": "Refinery Count"})
daily_gasoline_df = daily_gasoline_df["Refinery Count"].replace("",np.nan)
daily_gasoline_df = daily_gasoline_df.merge(autos_df,on="State",how="left")
daily_gasoline_df.columns

KeyError: 'State Code'

### Exporting all information

In [24]:
daily_gasoline_df.to_csv("working_data.csv")
refinery_place_df.to_csv("refinery.csv")